{
  "plugins": [
    "syntax-async-generators",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs",
    "transform-export-extensions",
    "transform-flow-strip-types",
    "transform-function-bind",
    "transform-strict-mode"
  ]
}
